* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 --index: calc(1vh + 1vw);
 --transition: 2s cubic-bezier(.08, .6, 0, 1);
}
@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merriweather-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}
body {
  background-color: #000;
  color: #fff;
  font-family: kamerik-3d;
}
.logo {
  --logo-size: calc(calc(var(--index) - 1vw) * 20);
  width: var(--logo-size);
  height: var(--logo-size);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - calc(var(--logo-size) / 2));
  top: calc(20% - calc(var(--logo-size) / 2));
  z-index: 1;
}
.layers {
  perspective: 5000px;
  overflow: hidden;
}
.layers__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(calc(2deg + var(--move-y))) rotateY(var(--move-x)); 
  will-change: transform;
  transition: transform var(--transition);
}
.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layer-1 {
  transform: translateZ(-400px) scale(1.1);
}
.layer-2 {
  transform: translateZ(-300px) scale(1.06);
}
.layer-2-1 {
  transform: translateZ(-200px) scale(1.03);
}
.layer-2-2 {
  transform: translateZ(-100px) scale(1);
}
.layer-3 {
  transform: translateZ(100px) scale(1);
}
.layer-4 {
  transform: translateZ(250px) scale(1);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(calc(var(--index)) * 2.8);
  height: calc(calc(var(--index)) * 7);
  position: absolute;
  left: 20vw;
  top: calc(94.5vh - calc(var(--index)) * 7);
  }
.layer-5 {
  transform: translateZ(550px) scale(0.8);
}
.layer-5_1 {
  transform: translateZ(0px) scale(1);
}
.layer-6 {
  transform: translateZ(400px) scale(1.27);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(calc(var(--index)) * 65);
  height: calc(calc(var(--index)) * 10);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: calc(92vh - calc(var(--index)) * 1.5);
}
.layer-6_1 {
  transform: translateZ(300px) scale(1.27);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(calc(var(--index)) * 65);
  height: calc(calc(var(--index)) * 10);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: calc(93vh - calc(var(--index)) * 1.5);
}
.hero-content {
  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -.15);
  line-height: 1.35em;
  margin-top: calc(var(--index) * 5.5);
  margin-left: calc(var(--index) * 5);
  margin-right: calc(var(--index) * 5);
}
.hero-content span {
  display: block;
}
.hero-content__p {
  text-transform: none;
  font-family: merriweather-3d;
  letter-spacing: normal;
  font-size: calc(var(--index) * .73);
  line-height: 3;
}
.button-start {
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * .71);
  letter-spacing: -.02vw;
  padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
  background-color: transparent;
  color: #fff;
  border-radius: 10em;
  border: rgb(255 255 255 / .4) 3px solid;
  outline: none;
  cursor: pointer;
  margin-top: calc(var(--index) * 2.5);
}
.layer-4, .layer-5, .layer-6 {
  pointer-events: none;
}